<!-- activation_complete.html-->
{% extends "base.html" %}
{% block title %}Share Blog{% endblock %}
{% block content %}
<div class='container'>
{% for message in messages %}
    <div class='alert alert-{{message.tags}}'>{{ message }}</div>
{% endfor %}
<div class='row'>
    <div class='col-md-12'>
        <div class='panel panel-default'>
            <div class='panel-heading' align=center>
                <h3>Your account is enable！</h3>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
