<!-- registration_form.html  -->
{% extends "base.html" %}
{% block title %}Register to Share Blog{% endblock %}
{% block content %}
<div class='container'>
  {% for message in messages %}
  <div class='alert alert-{{message.tags}}'>{{ message }}</div>
  {% endfor %}
<div class='row'>
    <div class='col-md-12'>
        <div class='panel panel-default'>
            <div class='panel-heading' align=center>
            <h3>Register to Share Blog</h3>
    </div>
</div>
<form action='.' method='POST'>
    {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
    <input type='submit' value='register'><br/>
</form>
</div>
{% endblock %}
