<!-- base.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>{% block title %}{% endblock %}</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


	<style type = "text/css">
	h1, h2, h3, h4, h5, p, div {
	    font-family: 微軟正黑體;
	}

	#font_beauty{
		font-family: DFKai-sb;
	}

	</style>

   	<script
	  src="/static/jquery-3.2.1.js"></script>
    <script src="/static/jquery-ui-1.12.1/jquery-ui.js"></script>
    
    <link rel = "stylesheet"
          type = "text/css"
          href = "/static/css/jquery-ui-themes-1.12.1/themes/start/jquery-ui.css" />


  <script>
      $(function(){
        $('#datepicker').datepicker();
      })
  </script>


</head>
<body>
  {% include "header.html" %}
  {% block content %}{% endblock %}
  {% include "footer.html" %} 
</body>
</html>
