<!-- diarybrowsing.html -->
{% extends "base.html" %}
{% block title %}EasyBlog{% endblock %}
{% block content %}
<div class='container'>
{% if message %}
    <div class='alert alert-warning'>{{ message }}</div>
{% endif %}

<div class='row'>
    <div class='col-md-12'>
        <div class='panel panel-default'>
            <div class='panel-heading' align=center>
                <h3>{{ username | default:"My"}} Private Diary</h3>
            </div>
        </div>
    </div>
</div>

<script>
function go_delete(id){
    var user_pass = confirm("Are you sure you want to delete the diary ?")
    if (user_pass != "") {
        var usr = '/diarybrowsing/' + id + '/' + user_pass;
        window.location = usr;
    }
}
</script>



    {% for diary in diaries %}
    {% cycle "<div class='row'>" "" "" %}
        <div class='col-md-4'>
            <div class='panel panel-primary'>
                <div class='panel-heading' align=center>
                    {{ diary.ddate }}
                </div>
                <div class='panel-body'>
                    {{ diary.note | linebreaks }}
                </div>
                <div class='panel-footer'>
                    Today's Cost：{{ diary.budget }}NT，Weight：{{ diary.weight }}KG 
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-trash" onclick='go_delete({{diary.id}})'></span>
                </div>
            </div>
        </div>    
    {% cycle "" "" "</div>" %}
    {% empty %}
        <h3><em>You haven't entered a diary or haven't logged in to the site yet</em></h3>
    {% endfor %}
</div>
{% endblock %}
