 <!-- header.html -->
    <nav class='navbar navbar-default'>
        <div class='container-fluid'>
            <div class='navbar-header'>
                <div class='navbar-brand' align=center>
                    Easy Blog
                </div>
            </div>
            <ul class='nav navbar-nav'>
                {% if username %}
                <li class='active'><a href='/'>Home(瀏覽訊息)</a></li>  
                <li><a href='/post2db'>張貼訊息</a></li>
                <li><a href='/diarybrowsing'>日記瀏覽</a></li>
                <li><a href='/posting'>日記上傳</a></li>
                <li><a href='/userinfo'>個人資訊</a></li>
                <li><a href='/contact'>連絡管理員</a></li>
                <li><a href="/logout">登出</a></li>
                {%  else %}
                <li><a href="/login">登入</a></li>
                <li><a href="/accounts/register">註冊</a></li>
                {% endif %}
                <li><a href='/admin'>後台管理</a></li>  
            </ul>
        </div>
    </nav>