<!-- index.html -->
{% extends "base.html" %}
{% block title %}我有話要說{% endblock %}
{% block content %}
<div class='container'>
{% if message %}
    <div class='alert alert-warning'>{{ message }}</div>
{% endif %}

<div class='row'>
    <div class='col-md-12'>
        <div class='panel panel-default'>
            <div class='panel-heading' align=center>
            <h3>~~上班心裡苦，只在這裡說~~</h3>
    </div>
</div>


<script>
function go_delete(id){
    var user_pass = prompt("Please enter your code:")
    if (user_pass != "") {
        var usr = '/' + id + '/' + user_pass;
        window.location = usr;
    }
}
</script>


{% for p in posts %}
    {% cycle "<div class='row'> <div class='col-md-6'>" "<div class='col-md-6'>" %}
        <div class='panel {%cycle "panel-primary" "panel-info" "panel-warning" "panel-success" %}'>
            <div class='panel-heading'>
                <table width='100%'>
                    <tr>
                        <td>
                            【{{ p.nickname }}】&nbsp;feels&nbsp;{{ p.mood }}
                        </td>
                        <td align=right>
                            <i><small>{{ p.pub_time }}</small> &nbsp;&nbsp; </i>
                            <span class="glyphicon glyphicon-trash" onclick='go_delete({{p.id}})'></span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class='panel-body'>{{ p.message | linebreaks }}</div>
        </div>
    </div>
    {% cycle "" "</div>"%}
{% endfor %}
</div>
{% endblock %}


