<!--login.html-->
{% extends "base.html" %}
{% block title %}LoginToShare{% endblock %}
{% block content %}
<div class="container">
	{% for message in messages%}
	  <div class="alert alert-{{message.tags}}">{{message}}</div>
	{% endfor %}
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-success">
			  <div class="panel-heading" align="center">
		        <h3>Login My Blog</h3>
		       </div>
			</div>
		</div>
		<form action="." method="post">
		{% csrf_token %}
			  <table>
			  	{{login_form.as_table}}
			  </table>
			  <input type="submit" value="login">
			  <br>
		</form>
	</div>
</div>
{%  endblock %}