<!-- login.html-->
{% extends "base.html" %}
{% block title %}EasyBlog(Profile){% endblock %}
{% block content %}
<div class='container'>

<div class='row'>
    <div class='col-md-12'>
        <div class='panel panel-default'>
            <div class='panel-heading' align=center>
                <h3>User Information</h3>
            </div>
        </div>
    </div>
</div>


<div class='row'>
    <div class='col-md-12'>
        <div class='panel panel-primary'>
            <div class='panel-heading' align=center>
                <h3>{{ userinfo.user.username | upper }}</h3>
            </div>
            <div class='panel panel-body'>
                電子郵件：{{ userinfo.user.email }}<br/><br/>
                年齡：{{ userinfo.age }}<br/><br/>
                身高：{{ userinfo.height }} cm<br/><br/>
                性別：{{ userinfo.sex }}
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}


